html{
    font-size: 10px;
}

* , *::after , *::before{
    box-sizing: border-box;
}

body{
    font-family: Inter , Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: #000;
}

/* NAVBAR */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15rem;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-self: center;
}

.navbar__menu li{
    margin-left: 5rem;
    color: black;
    font-size: 1.6rem;
    /*background-color: red;*/
}

.navbar__menu li:hover{
    transform: translateY(-0.3rem);
    transition: transform 0.5s;
}

.navbar > img{
    height: 12rem;
}

/* HERO */

.hero__picture > img{
    height: 100vh;
    width: 100%;
}

.hero__text{
    position: absolute;
    top: 50rem;
    left: 18rem;
    line-height: 5rem;
    color: #f3f3f3;
}

.hero__link{
    color: rgb(17, 204, 158);
    font-size: 1.8rem;
}

.hero__link:hover{
    border-bottom: 1px rgb(17, 204, 158) solid;
}