html{
    font-size: 10px;
    scroll-behavior: smooth;
}

* , *::after , *::before{
    box-sizing: border-box;
}

body{
    font-family: Inter , Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: #000;
}

/* NAVBAR */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15rem;
}

.secondary{
    background-color: white;
}

.test{
    padding: 0 15rem;
    margin-top: -2rem;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-self: center;
}

.navbar__menu li{
    margin-left: 5rem;
    color: black;
    font-size: 1.6rem;
    /*background-color: red;*/
}

.navbar__menu li:hover{
    transform: translateY(-0.3rem);
    transition: transform 0.5s;
}

.navbar img{
    height: 12rem;
}

/* HERO */

.hero__picture > img{
    height: 100vh;
    width: 100%;
}

.hero__text{
    position: absolute;
    top: 50rem;
    left: 18rem;
    line-height: 5rem;
    color: #f3f3f3;
}

.hero__link{
    color: rgb(17, 204, 158);
    font-size: 1.8rem;
}

.hero__link:hover{
    border-bottom: 1px rgb(17, 204, 158) solid;
}

/* About Me */

.section__header{
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.about-me__content{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.about-me__content--img{
    padding-left: 25rem;
    margin-top: 9rem;
}

.about-me__content--text > p{
    margin: 2.5rem 40rem 0 0;
    font-size: 2rem;
    line-height: 3rem;
}

.about-me__content--text > h3{
    margin: 0;
}

.about-me__content--text > h4{
    margin-bottom: 2rem;
}

.github{
    color: rgb(17, 204, 158);
}

.github:hover{
    color: rgb(17, 204, 158);
}

.about-me__content--list{
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
    line-height: 5rem;
}

/* Footer */

.footer{
    height: 10rem;
    background-color: rgb(29, 29, 29) ;
}

.footer__content{
    color: #f3f3f3;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
}

.center > li{
    margin: 0;
    padding: 1rem;
}

/* PROJECTS */

.projects{
    margin-top: 10rem;

    background-color: rgb(229, 229, 229);
}

.section__header{
    padding-top: 8rem;
    margin-bottom: 15rem;
}

.projects__content{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 15rem;
}

.card{
    height: 30rem;
    width: 30rem;
    margin-bottom: 10rem;
}

.card__img{
    text-align: center;
    background-color: #000000;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.card__img > img{
    height: 20rem;
    max-width: 100%;
}

.card__excerpt{
    text-align: center;
}

.card__excerpt{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 10rem;
    background-color: rgb(29, 29, 29);
}

.card__excerpt > h4,.card__excerpt a{
    margin: 0;
    font-weight: 500;
    font-size: 2.2rem;
    color: #f3f3f3;
    padding-top: 1.5rem;
}

.card__excerpt p{
    color: #f3f3f3;
    font-size: 1.4rem;
}


/* SINGLE PROJECT */

.single-content{
    text-align: center;
    width: 141rem;
    margin: 10rem auto 0;
}

.single-content__img--primary{
    height: 60vh;
    width: 100%;
}

.single-content__text{
    max-width: 114rem;
    margin: 0 auto;
}

.single-content__img{
    width: 114rem;
}

/* Login Form */

.hidden{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

.login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 50rem;
    background-color: #f3f3f3;
    z-index: 999;
}

.login__heading{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 5rem;
}

.login__form{
    padding: 6rem 10rem 10rem 11rem;
    font-size: 2rem;
}

.login__btn{
    margin-top: 2rem;
    margin-left: 5rem;
    display: block;
    padding: 1.5rem 3vw;
    border-radius: 40px;
    border: none;
    background-color: orange;
    font-size: 1.8rem;
    justify-self: center;
    cursor: pointer;
}

.login input{
    padding: 0.5rem 5rem;
}

.login__register{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: underline orange;
    text-underline-offset: 3px;
}

.close-login{
    background: none;
    border: none;
    font-size: 3.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}