html{
    font-size: 10px;
    scroll-behavior: smooth;
}

* , *::after , *::before{
    box-sizing: border-box;
}

body{
    font-family: Inter , Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: #000;
}

/* NAVBAR */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15rem;
}

.secondary{
    background-color: white;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-self: center;
}

.navbar__menu li{
    margin-left: 5rem;
    color: black;
    font-size: 1.6rem;
    /*background-color: red;*/
}

.navbar__menu li:hover{
    transform: translateY(-0.3rem);
    transition: transform 0.5s;
}

.navbar img{
    height: 12rem;
}

/* HERO */

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #141414;
}

.hero__picture > img{
    height: 100rem;
}

.hero__text--heading{
    color: rgb(17, 204, 158);
    font-size: 4.5rem;
}

.hero__text{
    justify-self: center;
    align-self: center;
}

.hero__link{
    color: white;
    font-size: 1.8rem;
    background-color: rgb(17, 204, 158);
    opacity: 0.8;
}

.hero__link:hover{
    opacity: 1;
}

.hero__link:hover{
    border-bottom: 1px rgb(17, 204, 158) solid;
}

/* About Me */

.section__header{
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #141414;
}

.about-me__content{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.about-me__content--img{
    padding-left: 25rem;
    margin-top: 9rem;
}

.about-me__content--text > p{
    margin: 2.5rem 40rem 0 0;
    font-size: 2rem;
    line-height: 3rem;
}

.about-me__content--text > h3{
    margin: 0;
}

.about-me__content--text > h4{
    margin-bottom: 2rem;
}

.github{
    color: rgb(17, 204, 158);
}

.github:hover{
    color: rgb(17, 204, 158);
}

.about-me__content--list{
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
    line-height: 5rem;
}

/* Footer */

.footer{
    height: 10rem;
    background-color: rgb(29, 29, 29) ;
}

.footer__content{
    color: #f3f3f3;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
}

.center > li{
    margin: 0;
    padding: 1rem;
}

/* PROJECTS */

.projects__heading{
    color: rgb(68, 68, 68);
}

.projects2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 0 12rem;
}

.projects2__img{
    width: 100%;
}

.projects2__content{
    justify-self: center;
    align-self: center;
    width: 70%;
}

.projects2__content > p{
    font-size: 1.6rem;
}

.projects2__content > a{
    font-size: 1.6rem;
    text-decoration: underline;
}

.orange{
    color: orange;
}

.aqua{
    color: aqua;
}

.grey{
    color: gray;
}

.red{
    color: indianred;
}

.projects1{
    background-color: white;
    padding-bottom: 10rem;
}

.projects1__header{
    color: rgb(17, 204, 158);
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}



/* SINGLE PROJECT */

.single-content{
    text-align: center;
    width: 141rem;
    margin: 10rem auto 0;
}

.single-content__img--primary{
    height: 60vh;
    width: 100%;
}

.single-content__text{
    max-width: 114rem;
    margin: 0 auto;
}

.single-content__img{
    width: 114rem;
}

/* Login Form */

.hidden{
    visibility: hidden;
}

.btn{
    font-size: 1.8rem;
    padding: 1.5rem 3vw;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

.login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 50rem;
    background-color: #141414;
    z-index: 999;
    color: rgb(17, 204, 158);
}

.login__heading{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 5rem;
    color: rgb(17, 204, 158);
}

.login__form{
    padding: 6rem 10rem 10rem 11rem;
    font-size: 2rem;
}

.login__btn{
    margin-top: 2rem;
    margin-left: 5rem;
    display: block;
    background-color: rgb(17, 204, 158);
    justify-self: center;
}

.login input{
    padding: 0.5rem 5rem;
}

.login__register{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: underline orange;
    text-underline-offset: 3px;
    color: rgb(17, 204, 158);
}

.close-login{
    background: none;
    border: none;
    font-size: 3.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

/* Knowledge */

.knowledge{
    background-color: #f3f3f3;
    padding-bottom: 10rem;
}

.languages{
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    align-content: center;
}

.knowledge-heading{
    color: #141414;
}

/* Admin */

.side-navbar{
    background-color: black;
    height: 100vh;
    width: 25%;
    margin-left: 15rem;
    margin-top: -2.5rem;
}



